.swiper-container {
  position: relative;
}

.swiper-button-next,
.swiper-button-prev {

  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  padding: 1.5rem !important;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 1.5rem;
  font-weight: 600;
  color: gray;
} 

.swiper-pagination-bullet {
  background-color: gray;
  width: 10px;
  height: 10px;
}

.swiper-pagination-bullet-active {
  background-color: rgb(21, 21, 255);
}

.swiper-container:hover .swiper-button-next,
.swiper-container:hover .swiper-button-prev {
  opacity: 1;
  filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
}

